* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: #746f94;
}

#container {
    width: 500px;
    margin: 0 auto;
box-shadow: rgba(71, 36, 84, 0.718) 0px 19px 38px, rgba(81, 39, 93, 0.723) 0px 15px 12px;
    padding: 28px;
    border-radius: 4px;
    background-color: #5a5771;
}

body {
    display: grid;
    height: 90vh;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

#btn-cadastrar {
    margin-top: 100px;
    background: #472e4e;
    color: #ffffff;
    font-weight: bold;
    align-items: center;
    
}
h1{
    text-align: center;
    color: #ffffff;
}
table{
    width: 900px ;
    border-collapse: collapse;
    margin-top: 30px;
       background-color: #5a5771;
    box-shadow: rgba(71, 36, 84, 0.718) 0px 19px 38px,
                rgba(81, 39, 93, 0.723) 0px 15px 12px;
                border-radius: 8px;
                overflow: hidden;
                margin: 0 auto;
                height: ;
            
}
table td{
    padding: 12px;
    color: #000000;
    border-bottom: 1px solid #3c3a4c;
}
table tr:nth-child(even) {
    background-color: #6f6c8a;
}

/* Hover */
table tr:hover {
    background-color: #7b78a0;
    cursor: pointer;
}

/* Mensagem quando não tem resultado */
td[colspan] {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: #eee;
}
#btn {
    margin-top: 10px;
    background: #472e4e;
    color: #ffffff;
    font-weight: bold;
    align-items: center;
}